
.x-form-item-label {
    font-size: 11px !important;
    font-weight: bold !important;
    color: #555 !important;
}

.x-tree-node-text {
    font-size: 12px !important;
    font-weight: bold !important;
    color: #555 !important;
}

.header {
    height: 90px;
    width: 100%;
    padding: 8px 10px 0px 10px;
    background-color: #15b4f0; /*400C24*/
    float: left;
    color: #222222;
}
.x-header{
    background-color: #15b4f0; /*400C24*/
    border-color:#15b4f0;
}
.x-header-text {
    font-size: 13px;
}
.x-panel{
    border-color:#15b4f0;
}
.footer {
    width: 100%;
    padding: 10px 0 10px 0;
    text-align: center;
    height: 20px;
    color: #222222;
    background: #2d2a2b;
    position: absolute;
    bottom: 0px;
}

.left {
    float: left;
    background-position: center left;
    text-align: left;
}

.right {
    float: right;
    margin-right: 30px;
    margin-top: 10px;
}

.rightInside {
    float: right;
    margin-top: 10px;
}

.subTitleSpan {
    padding:0px 5px 5px 0;
    border-bottom:1px solid #fff;
    font-size: 13px;
    font-weight: 400;
}

.title {
    margin: 20px 0 0 18px;
    float: left;
    font-size: 15px;
    text-align: left;
    font-weight: bolder;
    color: #fff;
    min-height: 70px;
    width: 260px;
}

.title-sub {
    font-size: 20px;
    text-align: left;
    margin: 0;
    color: #fff;
}

.badge {
    margin-left: 10px;
    float: left;
    color: #888888;
    font-family: 'OpenSansRegular';
    min-width: 100px;
    line-height: 80px;
    font-weight: bold;
}

.button {
    padding: 8px;
    margin-left: 20px;
    display: inline-block;
    background: #6fb0e9;
    color: #fff !important;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
   border: 1px solid #7db9ee;
}



    .button:hover {
        background-color: #5fa2dd;
        color: #ffffff;
    }

    .button:active {
        background-color: #5fa2dd;
        color: #ffffff;
    }

.footer__note {
  
    font-size: 11px;
    font-weight: bold;
    color: #ddd;
}


.SubTitles {
    width: 250px;
    float: left;
    margin-top: 8px;
}


.borderFooter {
    width: 100%;
    margin-top: 96px;
    position: absolute;
}

.borderFooterCustom {
    width: 100%;
    bottom: 32px;
    position: absolute;
    z-index: 1000;
}



.portion {
    float: left;
    width: 20%;
    height: 1px;
    border: 0px;
    margin: 0px;
}

.c1 {
    background: #7db9ee;
}

.c2 {
    background: #9e1d59;
}

.c3 {
    background: #dbc779;
}

.c4 {
    background: #e74c3c;
}

.c5 {
    background: #9b59b6;
}

.logoImage {
    float: left;
}
